{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('node_modules/security-css/register.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}

    <section>
        <h1 class="text-center text-white"> Page connexion </h1>

        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Se connecter</h5>
                            <form method="post" action="{{ path('login') }}" class="form-signin">
                                <div class="form-label-group">
                                    <input id="inputEmail" type="email" name="_username" class="form-control" placeholder="Votre email..." required>
                                    <label for="inputEmail">Email address</label>
                                </div>

                                <div class="form-label-group">
                                    <input id="inputPassword" type="password" name="_password" class="form-control" placeholder="Votre mot de passe..." required>
                                    <label for="inputPassword">Password</label>
                                </div>

                               {# <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                                </div>#}
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                                <hr class="my-4">
{#
                                <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
#}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}