{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('node_modules/security-css/register.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}

    <section>
        <h1> Page connexion </h1>
    </section>

{% endblock %}