{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

  {% block header %}
      <!-- Header -->
      <header class="masthead">
          <div class="container">
              <div class="intro-text">
                  <div class="intro-lead-in">Welcome To Our Studio!</div>
                  <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
                  <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
              </div>
          </div>
      </header>
  {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur l' {{ controller_name }}! ✅</h1>

</div>
{% endblock %}
