{% extends 'base.html.twig' %}

{% block title %}Supprimer l'image à la une{% endblock %}

{% block body %}
    <section class="page-section mt-5">
        <h1 class="text-center">Page test edition </h1>
        <p>

        </p>
    </section>
{% endblock %}
