{% extends 'base.html.twig' %}

{% block title %}Ajouter un trick{% endblock %}

{% form_theme formGroup 'bootstrap_4_layout.html.twig' %}

{% block body %}

        <!-- Formulaire -->
        <section class="page-section" id="contact">
                <div class="container">
                        <div class="row">
                                <div class="col-lg-12 text-center">
                                        <h2 class="section-heading text-uppercase">
                                                {% if editMode %}
                                                    Modifier le nom du groupe
                                                {% else %}
                                                    Ajouter un groupe de Tricks
                                                {% endif %}
                                        </h2>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-lg-12">

                                        {{ form_start(formGroup) }}

                                                {{ form_row(formGroup.name, {'attr':{ 'placeholder': 'Renseigner le nom du groupe ...' }}) }}

                                                <div class="col-lg-12 text-center">
                                                        <div id="success"></div>
                                                        <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">
                                                            {% if editMode %}
                                                                Modifier
                                                            {% else %}
                                                                Créer le groupe
                                                            {% endif %}
                                                        </button>
                                                </div>

                                        {{ form_end(formGroup) }}


                                </div>
                        </div>
                </div>
        </section>

{% endblock %}